#mainAbout{
    height: 61rem;
    background: url("/images/background-about.png") no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
#mainAbout h1{
    text-decoration: underline;
    padding-top: 3rem;
}
#aboutContainer{
    display: grid;
    grid-template-areas: " textAbout imageAbout";
    height: 52rem;
}
#textAbout{
    grid-area: textAbout;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65rem;
}
#textAbout p{
    max-width: 30rem;
    font-size: 18px;
    line-height: 25px;
    padding: 2rem 4rem ;
    border: 2px solid white;
    border-radius: 10px;
}
#imageAbout{
    grid-area: imageAbout;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imageAbout img{
    width: 70%;
}
