/*MOBILE PADRÃO*/
 #mainAbout{
    background: url("/images/background-about.png") no-repeat;
    background-size: cover;
    color: white;
    padding: 10%;
 }
 #mainAbout h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
 }
 #mainAbout p{
    text-align: left;
    margin-bottom: 5rem;
 }
 #imageAbout img{
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
 }

@media(min-width: 768px){
#imageAbout img{
    width: 80%;
    margin-left: 10%;
}   
}
/*DESKTOP*/
@media(min-width:1024px){
    #aboutContainer{
        display: flex;
        align-items: center;
    }
    #textAbout{
        width: 150%;
        margin-top: 5rem;
    }
}
/*DESKTOP FULL*/
@media(min-width: 1226px){
    #aboutContainer{
        display: flex;
        align-items: center;
        margin-top: 5rem;
        line-height: 25px;
    }
    #textAbout{
        width: 60%;
    }
    #imageAbout{
        display: flex;
        justify-content: center;
    }
    #imageAbout img{
        width: 50%;
    }
}