/* MOBILE (padrão) */
#introMain {
    display: grid;
    grid-template-areas: "imageIntro" "textIntro";
    place-items: center;
    background: url("./images/background-intro.png");
    background-size: cover;
}

#imageIntro {
    grid-area: imageIntro;
    height: 35rem;
    display: flex;
    justify-content: center;
}

#imageIntro img {
    height: 30rem;
}

#textIntro {
    grid-area: textIntro;
    text-align: center;
    line-height: 25px;
    margin-bottom: 5rem;
}
/*TABLET*/
@media(min-width: 768px){
    #introMain{
        grid-template-areas: "imageIntro textIntro";
        background-size: cover;
    }
    #imageIntro img{
        margin: auto;
        width: 100%;
        height: 50%;
    }
    #textIntro{
        margin-left: -12rem;
        font-size: 15px;
        max-width: 20rem;
    }
}

/* DESKTOP*/
@media (min-width: 1024px) {
    #introMain {
        grid-template-areas: "imageIntro textIntro";
        height: 55rem;
        background: url('/images/background-intro.png') no-repeat;
        background-size: cover;
        align-items: center;
    }
    #textIntro {
        text-align: justify;
        max-width: 30rem;
        line-height: 2.5rem;
        margin-left: 2rem;
        font-size: 1.3rem;
    }
    #imageIntro img {
    height: 100%;
}
}
