*{
    list-style: none;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}
a{
    color: black;
    display: inline-block;
}
h1{
    font-family: "Ancizar serif", serif;
}
p{
    font-family: "Montserrat", sans-serif;
}